language: php

php:
  - 7.0
  - 7.1

before_script:
  - cp .env.travis .env
  - composer self-update
  - composer install --prefer-dist --no-interaction
  - php artisan key:generate

script:
  - vendor/bin/phpunit
